BASE_API_URL="JKLM_API_URL"

CLIENT_TOKEN="CLIENT_TOKEN"
CLIENT_USER_TOKEN="CLIENT_USER_TOKEN"

DEFAULT_CLIENT_NICKNAME="CLIENT_NICKNAME"
DEFAULT_CLIENT_PICTURE="CLIENT_PICTURE_BASE64"
DEFAULT_ROOM_NAME="DEFAULT_ROOM_NAME"

SERVER_PORT="SERVER_PORT"

ENV="dev | prod"

DATABASE_URL="mysql://user:password@host:0000/database"