CLIENT_TOKEN="CLIENT_TOKEN"
CLIENT_USER_TOKEN="CLIENT_USER_TOKEN"

DEFAULT_NICKNAME="NICKNAME"
DEFAULT_PICTURE="PICTURE (base64)"
DEFAULT_ROOM_NAME="DEFAULT_ROOM_NAME"
PLAYER_ROOM_NAME_TEMPLATE="PLAYER_ROOM_NAME_TEMPLATE ({username} = player's username)"

SERVER_PORT="0000"

DATABASE_URL="mysql://user:password@localhost:3306/database"